# Dependencies
node_modules
.pnp.cjs
.pnp.loader.mjs

# Next.js
.next
out

# Testing
coverage

# Logs
*.log

# Storybook
storybook-static

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Supabase
.supabase
